body{background-color: darkgreen;
    font-family: "Comic Sans MS";
    padding: 20px;
}

h1{color: darkorange;
text-align: center;
font-size: 40px;}

p{color: black;}

a{background-color: darkolivegreen;
    /*Removes underline from links */
    text-decoration: none;}

ul{background-color: darkolivegreen;}

li{color: black; font-weight: bolder}

h2{background-color: cadetblue;
text-align: center;
font-size: xx-large;}

#fav-movie-header{border:5px solid darkorange;}

#fav-music-header{border:3px black dotted;}

#fav-favoritefoods-header{border:3px orange dotted;}

.fav-section{background-color: cadetblue;
    margin-top:10px; margin-bottom: 40px; padding:30px;}


#page-header{font-size:25px; font-family: 'Comic Sans MS';
    background-color: cadetblue; border: 3px solid darkorange;}

.fav-img {
    height: 200px; /* Sets the height of an image, the width will scale proportionally */
    border-radius: 10px; /* Rounds the corners, a higher number will be more rounded */
}